.hero-section {
    margin-top: 6px;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #F4F7FD;
}

.hero-slider {
    display: flex;
    gap: 30px;
}

.hero_swiper {
    
    .hero-slide {
        img {
            height: 400px;
            width: 1014px;
            border-radius: 20px;
            cursor: pointer;
        }
    }
}

.hero-sale {
    img {
        width: 280px;
        height: 395px;
    }
}