
.section-5{
    background: #008DFF;
}


.brands-box{
    display: flex;
    justify-content: center;
    padding: 48px 20px
}

.mySwiper{
    width: 1362px;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(209, 213, 223, 0.50);
}

    .swiper-a{
        display: flex;
        justify-content:center;
        align-items: center;
        padding-top: 30px;
    }

  .swiper-slide img {
    display: block;
    align-items: center;
    width: 70px ;
    height: 70px;
    object-fit: cover;
  }
  
  