.header-section {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(209, 213, 223, 0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0 18px 0;
    border-bottom: 1px solid #e6e8ee;

    .brand {
        img {
            cursor: pointer;
        }
    }
}

form {
    width: 620px;
    height: 46px;
    display: flex;
    background-color: #008dff;
    border-radius: 10px;
    gap: 15px;
    transition: all 0.2s ease-in-out;
    z-index: 0;

    &:hover {
        background-color: #0059a1;
    }
}

.nav-search {
    width: 507px;
    height: 40px;
    outline: none;
    border: 3px solid #008dff;
    border-radius: 10px;
    padding: 20px;
    font-size: 13px;
    font-weight: 400;
    color: #87898d;
    z-index: 1;
}

.search-link {
    width: 103px;
    height: 44px;
    padding: 9px 22px;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.search-btn {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 12px;
    left: 2px;
    cursor: pointer;
}

.nav-search::-webkit-input-placeholder {
    font-size: 13px;
    font-weight: 400;
    color: #c2c6d1;
}

.icons {
    display: flex;
    gap: 10px;

    .icon {
        position: relative;
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: auto;
        cursor: pointer;
        padding: 6px 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;

        .icon_title {
            color: #000;
        }

        &:hover {
            color: #0059a1;

            svg path {
                fill: #0059a1;
            }
        }

        img {
            width: 24px;
            height: 24px;
        }
    }

    .sold-zero {
        top: 0;
        right: 22px;
        position: absolute;
        width: 16px;
        height: 16px;
        text-align: center;
        padding: 0 0 20px 0;
        border-radius: 50px;
        background: #008dff;
        color: #fff;
        font-size: 10px;
    }
}

.sold-hover {
    position: fixed;
    top: 8%;
    left: -8%;
    width: 350px;
    height: 227px auto;
    background-color: rgba(223, 241, 255, 44);
    border-radius: 10px;
    visibility: hidden;
    transform: translateX(350%);

    .sold-content {
        background-color: whitesmoke;
        width: 350px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 15px;
    }

    .sold-hover-close {
        position: absolute;
        right: 10px;
    }

    .sold-hover-about {
        display: flex;
        gap: 70%;
        padding-bottom: 70px;
        padding: 15px;

        .sold-hover-h5 {
            font-size: 14px;
            color: #bbb;
        }

        .sold-hover-p {
            font-size: 12px;
            color: #bbb;
        }
    }
}

.sold-hover-btns {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .sold-hover-btn {
        padding: 9px 10px;
        border: none;
        margin-bottom: 10px;
        background-color: #007bff;
        border-radius: 9px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        transition: color 0.4s linear;
    }

    .sold-hover-link {
        padding: 9px 10px;
        border: none;
        border-radius: 9px;
        color: #000;
        text-align: center;
        font-size: 18px;
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: #007bff;
            color: #fff;
        }
    }
}

.sold-hover:target {
    visibility: visible;
    color: #000;
}

// <- ====================== Navbar Bottom ===================== ->

.bottom-nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 17px 17px;

    a {
        color: #000;
        font-size: 15px;
        font-weight: 500;
        line-height: 19px;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #008dff;
        }
    }
}
// ===========================modal=============================
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;

    &-open {
        display: flex;
    }

    .modal-inner {
        display: flex;
        justify-content: space-between;
        width: 50%;
        border-radius: 10px;
        background-color: #fff;
    }
}

.modal-inner-items {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    gap: 45px;

    .modal-inner-items-title {
        width: 350px;
        font-size: 26px;
        font-weight: 600;
        font-style: normal;
        color: #000;
    }
}

.modal-inner-items-form1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    border-bottom: 1px solid #87898d;

    &:hover {
        background-color: transparent;
    }

    .modal-inner-form-input {
        width: 300px;
        height: 70px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-radius: 5px;
        border: 2.4px solid #87898d;
    }
    .modal-inner-form-btn {
        width: 300px;
        height: 70px;
        background-color: #0059a1;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-radius: 5px;
        color: #fff;
        border: none;
    }
}
.modal-inner-items-sites {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    .sites-img {
        width: 100px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #87898d;
        border-radius: 5px;
    }
}

.modal-inner-items2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    gap: 45px;
    background-color: #87898d;
}

// ==============================modal=========================
