.header-section {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px rgba(209, 213, 223, 0.5);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0 18px 0;
    border-bottom: 1px solid #e6e8ee;

    .brand {
        img {
            cursor: pointer;
        }
    }
}

form {
    width: 620px;
    height: 46px;
    display: flex;
    background-color: #008dff;
    border-radius: 10px;
    gap: 15px;
    transition: all 0.2s ease-in-out;
    z-index: 0;

    &:hover {
        background-color: #0059a1;
    }
}

.nav-search {
    width: 507px;
    height: 40px;
    outline: none;
    border: 3px solid #008dff;
    border-radius: 10px;
    padding: 20px;
    font-size: 13px;
    font-weight: 400;
    color: #87898d;
    z-index: 1;
}

.search-link {
    width: 103px;
    height: 44px;
    padding: 9px 22px;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.search-btn {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 12px;
    left: 2px;
    cursor: pointer;
}

.nav-search::-webkit-input-placeholder {
    font-size: 13px;
    font-weight: 400;
    color: #c2c6d1;
}

.icons {
    display: flex;
    gap: 10px;

    .icon {
        position: relative;
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: auto;
        cursor: pointer;
        padding: 6px 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;

        .icon_title {
            color: #000;
        }

        &:hover {
            color: #0059a1;

            svg path {
                fill: #0059a1;
            }
        }

        img {
            width: 24px;
            height: 24px;
        }
    }

    .sold-zero {
        top: 0;
        right: 22px;
        position: absolute;
        width: 16px;
        height: 16px;
        text-align: center;
        padding: 0 0 20px 0;
        border-radius: 50px;
        background: #008dff;
        color: #fff;
        font-size: 10px;
    }
}

.sold-hover {
    position: fixed;
    top: 8%;
    left: -8%;
    width: 350px;
    height: 227px auto;
    background-color: rgba(223, 241, 255, 44);
    border-radius: 10px;
    visibility: hidden;
    transform: translateX(350%);

    .sold-content {
        background-color: whitesmoke;
        width: 350px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 15px;
    }

    .sold-hover-close {
        position: absolute;
        right: 10px;
    }

    .sold-hover-about {
        display: flex;
        gap: 70%;
        padding-bottom: 70px;
        padding: 15px;

        .sold-hover-h5 {
            font-size: 14px;
            color: #bbb;
        }

        .sold-hover-p {
            font-size: 12px;
            color: #bbb;
        }
    }
}

.sold-hover-btns {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .sold-hover-btn {
        padding: 9px 10px;
        border: none;
        margin-bottom: 10px;
        background-color: #007bff;
        border-radius: 9px;
        color: #fff;
        text-align: center;
        font-size: 18px;
        transition: color 0.4s linear;
    }

    .sold-hover-link {
        padding: 9px 10px;
        border: none;
        border-radius: 9px;
        color: #000;
        text-align: center;
        font-size: 18px;
        transition: all 0.4s ease-in-out;

        &:hover {
            background-color: #007bff;
            color: #fff;
        }
    }
}

.sold-hover:target {
    visibility: visible;
    color: #000;
}

// <- ====================== Navbar Bottom ===================== ->

.bottom-nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 17px 17px;

    a {
        color: #000;
        font-size: 15px;
        font-weight: 500;
        line-height: 19px;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: #008dff;
        }
    }
}
// ===========================modal=============================
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    &-open {
        display: flex;
    }

    .modal-inner {
        width: 857px;
        max-height: 457px;
        display: flex;
        border-radius: 10px;
        background-color: #fff;
        position: absolute;
        // top: -500px;
    }
}

.modal-links1 {
    width: 50%;
    height: 457px;
    display: flex;
    flex-direction: column;
    background-color:#FFF;
    border-radius: 10px 0 0 10px;
    padding: 60px 56px;
    gap: 33px;

    .modal-links1-title {
        width: 319px;
        font-size: 24px;
        color: #000;
    }
}
.modal-links1-form{
    width: 322px;
    height: 165px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    border-bottom: 1px solid #C2C6D1;
    border-radius: 0 0 0 0;
    &:hover{
        background-color: transparent;
    }
    
    .modal-links1-input{
        width: 315px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #C2C6D1;
        padding-left: 12px;
        padding-right: 165px;
        padding-top: 13px;
        padding-bottom: 13px;
        &:focus{
            outline: none;
        }
    }
    .modal-links1-btn{
        width: 315px;
        height: 45px;
        background-color: #007BFF;
        border: none;
        border-radius: 10px;
        padding: 20px 75px;
        color: white;
        font-size: 14px;
    }
}
.modal-links1-websites{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    .modal-links1-websites-span{
        width: 123px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F2F2F7;
        border-radius: 10px;
    }
}

.modal-links2 {
    width: 50%;
    height: 457px;
    background-color:#F2F2F7;
    border-radius: 0 10px 10px 0;
    padding: 50px 35px;
    position: relative;
    
    .modal-links2-link{
        display: flex;
        flex-direction: column;
        gap: 30px;

       .modal-links2-link-img{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
       }
    }

    .modal-links2-links{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
.modal-links2-links-title{
   width: 282px;
   display: flex;
   flex-direction: column;
   text-align: start;
   gap: 7px;
   font-size: 16px;
   color: #000;
   .modal-links2-links-title-span{
    font-size: 12px;
    color: #BB988B;
   }
}


.modal-close-btn{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: -10px;
    right: -15px;
    cursor: pointer;
}
// ============================== Hover modal =========================

.modal_hover {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);

    &-open {
        display: flex;
    }
}

.hoverModalInner {
    position: absolute;
    width: 450px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(223,241,255.44);
    border-radius: 10px;
    padding: 20px;
}

.hover-modal_content {
    position: absolute;
    top: 0;
    left:50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 50px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

.hover-modal_top {
    margin-top: 15px;
    display: flex;
    gap: 80%;


    .hover-modal_summa-p {
        font-size: 15px;
        color: #000;
    }

    .hover-modal_alSum-p {
        width: auto;
        font-size: 15px;
        color: #000;
    }
}

.hover-modal_middle {
    margin-top: 50px;

    .hover-modal-link-one {
        padding: 15px 150px;
        border-radius: 10px;
        background-color: #008dff;
        font-size: 14px;
        color: #fff;
        margin-bottom: 10px;
    }

    .hover-modal-link-two {
        padding: 15px 140px;
        border-radius: 10px;
        background-color: #008dff;
        font-size: 14px;
        color: #fff;
    }
}