@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin-top: 200px;
  background: #F4F7FD !important;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: inline-block;
}

.container {
  width: 1362px;
  margin: 0 auto;
  padding: 0 20px;
}

/* <- ========================== Button Animation Start ================================ -> */

.btn-slide {
  position: relative;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
  transition: color 0.4s linear;
}

.btn-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1166ab;
  border-radius: 10px;
  z-index: -1;
  transition: transform 0.4s ease-in-out;     
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.btn-slide::before {
  transform: scaleX(0);
}

.btn-slide:hover::before {
  transform: scaleX(1);
}

/* <- ========================== Button Animation End ================================ -> */